<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="css/encrypt.css">    
    </head>

    <body>

        <link href="style.css" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
</link> 
<body>
<div class="main">
    
  <img class="profile-pic" src="https://cdn.discordapp.com/attachments/963207924656795680/1027005573499199609/3982230923_Gigachad.png" />
  <h2>Welcome <%= text %></h2>
  <p><%= crypted_text %></p>

  

    <h2>Your Password got hacked</h2>
    <h3>Here is the password</h3>
    <p><%= decrypted_text %></p>
  <br>
  <div class="section">
    <button class="real-btn"><a href="#">
      <div class="column-50">
      <p>Mohd Owais</p></a></div></button>

    <button class="real-btn"><a href="#">
      <div class="column-50">
      <p>Anshul Singla</p></a></div></button>

    <button class="real-btn"><a href="#">
      <div class="column-50">
      <p>Pratik Jha</p></a></div></button>

    <button class="real-btn"><a href="#">
      <div class="column-50">
      <p>Kumar Gaurav</p></a></div></button>
  </div>

  <div class="footer">
  Powered by <a href="https://my.swaag.gq">Our Group</a>
</div>
</body>

        
   <!-- footer  -->
<%- include("partials/footer") -%>